img, figcaption {
    width: 400px;
}

img {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 40px;
}

#responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin: auto;
    padding-top: 60px;
}

p {
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin: auto;
}

footer {
    margin-bottom: 100px;
}

* {
    background-color: aliceblue;
    margin: 0px;
}

body {
    width: 90%;
    margin: auto;
}